<template>
    <div class="wrapper container">
        <b-card class="card-title" bg-variant="dark" text-variant="white" title="VTTR" title-tag="h1">
            <p class="card-text">
                Very Userful Tools to Remember
            </p>
            <b-row>
            <b-col sm="3">
                <input v-model="inputValue" @input="inputSearch" id="input-small" size="sm" type="text" placeholder="Search">
            </b-col>
            <b-col sm="8">
            <b-form-checkbox @checked="checked" v-model="tagcheckbox" id="checkbox1"
                                value="accepted"
                                unchecked-value="not_accepted">
                Search in tags only
                </b-form-checkbox>                      
            </b-col>
            <b-col sm="1">
                <b-button  variant="outline-primary" @click="btnClick">+ Add</b-button>                   
            </b-col>                    
            </b-row>               
        </b-card>        
        <b-card v-for="tool in arraytools" :key="tool.id">
            <b-row>
              <b-col sm="10"> <a class="title-tool" :href="tool.link || '#'"> {{ tool.title }} </a> </b-col>
              <b-col sm="2"> <a class="btn-remove" @click.stop.prevent="btnRemove(tool)" href="#"> X remove </a> </b-col>
            </b-row>
                {{ tool.description }}
           <p><strong v-for="tag in tool.tags" :key="tag" > #{{ tag }} </strong> </p> 
        </b-card>                     
    </div>
</template>
<script>
export default {
    data () {
        return {
            inputValue: '',
            tagcheckbox: ''
        }
    },
    components: {
    },
    props: ['arraytools'],
    methods: {
        btnClick () {
            this.$emit('click');
        },
        btnRemove (tool) {
            this.$emit('remove', tool);
        },
        inputSearch () {
            if (this.tagcheckbox == 'accepted') {
                this.$emit('inputTag', this.inputValue);
            } else {
                this.$emit('input', this.inputValue);
            }            
        },
        checked () {
            this.$emit('check', this.tagcheckbox);
        }
    }
};
</script>
<style lang="scss" scoped>
.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}
.card-title{
    box-sizing: border-box;
    overflow: hidden;
}
.title-tool {
    text-decoration: none;
    font-size: 1.3em;
    color: blue;
}
.btn-remove {
    text-decoration: none;
    float: right;
    color: red;
}
.my-background {
    background-color: aqua;
}
</style>

