<template>
    <div class="wrapper">      
        <b-form>
            <a href="#" @click="btnClose()" class="btn-close">X</a>
            <h3>+ Add New Tool</h3>
            <b-form-group :label-cols="2" label-size="sm" label="Tool Name" label-for="input_sm">
                <b-form-input id="input_lg" size="sm" v-model="tool.title"></b-form-input>
            </b-form-group>

            <b-form-group :label-cols="2" label-size="sm" label="Tool Link" label-for="input_sm">
                <b-form-input id="input_lg" size="sm" v-model="tool.link"></b-form-input>
            </b-form-group>

            <b-form-group :label-cols="2" label-size="sm" label="Tool Description" label-for="input_sm">
                <b-form-textarea id="textarea1" placeholder="Type your Description here" :rows="5" :max-rows="6" v-model="tool.description"> </b-form-textarea> 
            </b-form-group>         

            <b-form-group :label-cols="2" label-size="sm" label="Tags" label-for="input_sm">
                <b-form-input id="input_lg" size="sm" v-model="inputTags"></b-form-input>
            </b-form-group>
            <b-button variant="primary" @click="btnClick" >add tool</b-button>
        </b-form>
    </div>
</template>
<script>
export default {
    data () {
        return {
            tool: {},
            inputTags: '',
            tags: []
        }
    },
    methods: {
        btnClick () {
            this.tool.tags = this.inputTags.split(' ');
            this.$emit('formClick', this.tool);
        },
        btnClose () {
            this.$emit('formClose');
        },
        pushTag () {
            this.tags = this.inputTags.split(' ');
        }
    }
};
</script>
<style lang="scss" scoped>
.wrapper {
    position: relative;
    width: 500px;
    display: grid;
    grid-gap: 1em;
    background-color: #ccc;
    padding: 2em;
    grid-auto-rows: minmax(100px, auto);
    .btn-close {
        right:0;
        top: 0;
        position: absolute;
        text-decoration: none;
        color: white;
        padding: 1em;
    }
}
</style>


