<template>
    <div class="wrapper">
        <div class="cards">
            <card-tools :arraytools="listTools" @click="hiddenForm = !hiddenForm" @remove="formRemove" @input="search" @inputTag="checketTag"></card-tools> 
        </div>       
        <div class="form" v-if="hiddenForm">
            <form-save class="form-component" @formClick="formSubmit" @formClose="hiddenForm = !hiddenForm"></form-save>
        </div>
        <div class="form" v-if="hiddenConf">
            <confirm-component @cancel="hiddenConf = !hiddenConf" @remove="confirmRemove" :tool="current" cardTitle="X Remove Tool"></confirm-component>
        </div>     
    </div>
</template>
<script>
import axios from 'axios';
import http from '../Services/HttpServices';
import CardTools from './CardTools';
import FormSave from './FormSave';
import ConfirmComponent from './ConfirmComponent';
export default {
    components: {
        CardTools,
        FormSave,
        ConfirmComponent
    },
    data () {
        return {
            hiddenForm: false,
            hiddenConf: false,
            target: '',
            listTools: '',
            current: ''
        }
    },

    methods: {
        checketTag (tag) {
            this.tagSearch(tag);
        },
        search (value) {
            this.searchList(value);
        },
        formRemove (tool) {
            this.hiddenConf = true;
            this.current = tool;
        },
        formSubmit (tool) {  
            this.save(tool);
            console.log(tool.tag);
            this.hiddenForm = false;
        },
        confirmRemove (id) {
            this.delete(id);
            this.hiddenConf = false;
        },
        getListTools () {
            axios.get('http://localhost:3000/tools')
            .then(result => {
                this.listTools = result.data;
            })
            .catch(err => {
                console.log(err);
            });            
        },
        searchList (search) {
            axios.get('http://localhost:3000/tools?q=' + search)
            .then(result => {
                this.listTools = result.data;    
            })
            .catch(err => {
                console.log(err);
            })            
        },
        tagSearch (tag) {
            axios.get('http://localhost:3000/tools?tags_like=' + tag)
            .then(result => {
                this.listTools = result.data;
            })
            .catch(err => {
                console.log(err);
            })
        },
        delete (id) {
            axios.delete('http://localhost:3000/tools/' + id)
            .then(result => {
                this.getListTools ();
            })
            .catch(err => {
                console.log(err);
            })
        },
        save (data) {
            http().post('http://localhost:3000/tools', data)
            .then(result => {
                this.getListTools ();
            })
            .catch(err => {
                console.log(err);
            })
        }
    },
    created (){
        this.getListTools ();
    }
};
</script>
<style lang="scss">
.wrapper {
    .cards {
       padding: 30px;
    }
    .form {
        z-index: 9999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        margin: auto;        
        background-color:rgba(0, 0, 0, 0.7);
        display: inline-block;
        .form-component {
            margin: auto;
            margin-top: 100px;
        }
    }
}

</style>
